:root {
    --color_fondo: #EAEAEA; 
    --color_titulos: #5A5E63; 
    --color_titulos_2: #494C50; 
    --color_resaltado: #B0B3B8; 
    --color_fondo_2: #EAEAEB; 
}


img {
    filter: grayscale(50%); 
    opacity: 0.85; 
}

