/* Definición de variables */
:root{
    --color_fondo: #F0F1FF;
    --color_titulos: #3E7396;
    --color_titulos_2: #244059;
    --color_resaltado: #daadd7;
    --color_fondo_2: #D1D8E4;
}
form {
    width: 100%;
    padding: 1em 1em;
    margin: 0 auto;
}

fieldset {
    border: 3px solid var(--color_resaltado);
    background: var(--color_fondo_2);
    width: 100%;
    padding: 1em 1em;
    margin: 0 auto;
}

main{
    margin: 1em;
}

legend {
    font-weight: bold;
    padding: 0 5px;
    color: var(--color_titulos);
    font-size: 1.5em;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 50%;
    padding: 5px;
}
.fieldset-interior {
    border: 3px dotted var(--color_resaltado);
    width: 25%;
    padding: 0em 1em;
    margin: 0 ;
    
}
.boton-enviar {
        background: var(--color_titulos);
        color: var(--color_resaltado);
        border: 3px solid var(--color_resaltado);
        border-radius: 3em;
        font-weight: bold;
        font-size: 1em;
        font-family: "Times New Roman", Tahoma, Arial, Verdana, Helvetica;
        padding: 0.5em 1em;
        margin: 0 25%;
        display: inline-block
        
    }
.boton-enviar:hover {
    background: var(--color_resaltado);
    color: var(--color_titulos);
}
.peticion {
    width: 90%;
    padding: 1em 1em;
    margin: 0 auto;
}
