@charset "utf-8";
@import url(contraste.css);
body{
  filter: invert(1) hue-rotate(180deg);
  background-color:black;
}
img, video, iframe{
  filter: invert(1) hue-rotate(180deg);
}
#cerebroAlzheimer{
  filter: invert(1) hue-rotate(180deg);
}
