*{
    box-sizing: border-box;
}

/* Definición de variables */
:root{
    --color_fondo: #F0F1FF;
    --color_titulos: #3E7396;
    --color_titulos_2: #244059;
    --color_resaltado: #daadd7;
}

/* Estilos para el enlace "Saltar al contenido" */
.skip-link {
    position: absolute;
    top: -1.5em; /* Oculto fuera de la pantalla */
    left: 0;
    background: #daadd7;
    color: #111;
    padding: 8px;
    z-index: 1000;
    
}
.skip-link:focus {
    top: 0; /* Muestra cuando tiene el foco */
}

body{
    background-color: var(--color_fondo);
}

/* Títulos y párrafos */
h1{
    text-align: center;
    font-size: 2em;
    font-family: Tahoma, Arial, Verdana, Helvetica;
    border-bottom: 4px solid var(--color_resaltado);
    border-radius: 7px;
}

h2, h3, h4 {
    font-family: Times New Roman, Tahoma, Arial, Verdana, Helvetica;
    width:100%;
    color: var(--color_titulos)
}

p{
    text-align:justify;
    margin:1em;
    font-family: Times New Roman, Tahoma, Arial, Verdana, Helvetica;
}

/* Secciones */
header{
    margin: 0;
    padding: 0;
    width: 100%;
}

figure{
    text-align: center;
}

figure img{
    display: inline;
    width: 100%;
    max-width: 500px;
}

header img{
    display: block;
    width: 100%;
    max-height: 200px;
    margin: 0;
    padding: 0;
}


iframe{
    display: inline;
    width: 100%;
    aspect-ratio: 16/9;
    max-width: 500px;
}

#contenedor_principal{
    display: flex;
    width: 100%;
    margin:0 auto;
    padding:0 0;
    justify-content: space-between;
}

main{
    width:100%;
}

main.doscolumnas{ 
    width:75%;
    left:0em;
    padding-left: 1em;
}

aside{
    border: 4px solid var(--color_resaltado);
    border-radius: 7px;
    padding: 0 1em;
    background-color: #D1D8E4;
    width:25%;
    right:0em;
}


/* Artículos destacados */
#destacados {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

#destacados article {
    text-align:center;
    flex: 1 1 48%; 
    margin: 10px 0; /* Un pequeño margen entre los artículos */
}

#destacados figure {
    text-align: center;
}

/* Ajuste de las imágenes */
#destacados img {
    max-width: 100%; 
    height: auto;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 814px) {
    #destacados article {
        flex: 1 1 100%; /* En pantallas pequeñas, cada artículo ocupará el 100% del ancho */
    }

    #contenedor_principal {
        display: flex; 
        flex-direction: column;
        width: 100%; 
    }

    main, main.doscolumnas, aside {
        width: 100%; 
        padding-left: 0em;
    }

    aside {
        margin-bottom: 20px; 
    }
}

footer{
    border-top: 4px solid var(--color_resaltado);
    border-radius: 7px;
    padding: 0 1em;
    width:100%;
    margin-top: 1.25em;
}


/* Enlaces */
a {
    color: var(--color_titulos_2);
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline ;
    color: #000000;
}

/* Listas */
.horizontal li{
    float: left;
    margin: 0;
    padding: 0;
}

.horizontal a{
    margin: 0;
    color: #FFFFFF;
    background-color: var(--color_titulos);
    text-align: center;
    padding: 4px;
}

/* Índice de letras */
#indiceArticulos a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}

#indiceArticulos li a:hover, #indiceArticulos li a:active{
    background-color: var(--color_titulos_2)
}

#indiceArticulos ul{
    list-style-type: none;
    margin:0;
    padding:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#indiceArticulos li{
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#indiceArticulos{
    width: 100%;
    margin-bottom: 1.25em;
}

#indiceArticulos ul.clearfix {
    width: 100%;
}

/* Cambiar enlaces por botones*/
.boton-enlace {
    background: var(--color_resaltado);
    color: var(--color_titulos);
    border: 3px solid var(--color_titulos);
    font-weight: bold;
    border-radius: 3em;
    text-decoration: none;
    font-size: 1em;
    font-family: "Times New Roman", Tahoma, Arial, Verdana, Helvetica;
    padding: 0.5em 1em;
    margin: 0;
    display: inline-block
    
}
.boton-enlace:hover, .boton-enlace:active {
background: var(--color_titulos);
color: var(--color_resaltado);
}

.enlaces{
    display: flex;
    flex-wrap: wrap; /* Permite que los artículos se envuelvan en varias filas */
    justify-content: space-between; /* Añade espacio entre columnas */

}
