/* Definición de variables */
:root{
    --color_fondo: #F0F1FF;
    --color_titulos: #3E7396;
    --color_titulos_2: #244059;
    --color_resaltado: #daadd7;
}

/* Aplicamos los colores */
body{
    background-color: var(--color_fondo);
}

h2, h3, h4 {
    color: var(--color_titulos)
}

/* Secciones */
header{
    margin: 0;
    padding: 0;
    width: 100%;
}
header img{
    display: block;
    width: 100%;
    max-height: 200px;
    margin: 0;
    padding: 0;
}

footer{
    border: 4px solid var(--color_resaltado);
    border-radius: 7px;
    padding: 0 1em;
    background-color: #D1D8E4;
    width:100%;
}

/* Títulos y párrafos */
h1{
    text-align: center;
    font-size: 2em;
    font-family: Tahoma, Helvetica, Arial, Verdana; 
    border-bottom: 4px solid var(--color_resaltado);
    border-radius: 7px;
}

/* Enlaces */
a {
    color: var(--color_titulos_2);
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

a:hover a:active {
    text-decoration: underline ;
    color: #000000;
}

/* Listas */
.horizontal li{
    float: left;
    margin: 0;
    padding: 0;
}

.horizontal a{
    margin: 0;
    color: #FFFFFF;
    background-color: var(--color_titulos);
    text-align: center;
    padding: 4px;
}

/* Índice de letras */
#indiceArticulos a {
    text-decoration: none;
}

#indiceArticulos li a:hover, #indiceArticulos li a:active{
    background-color: var(--color_titulos_2)
}

#indiceArticulos ul{
    list-style-type: none;
    margin:0;
    padding:0;
    width:100%;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#indiceArticulos ul.clearfix {
    width: 100%;
}

/* Cambiar enlaces por botones*/
.boton-enlace {
    background: var(--color_resaltado);
    color: var(--color_titulos);
    border: 3px solid var(--color_titulos);
    font-weight: bold;
    border-radius: 3em;
    text-decoration: none;
    font-size: 1em;
    font-family: "Times New Roman", Tahoma, Arial, Verdana, Helvetica;
    padding: 0.5em 1em;
    margin: 0;
    display: inline-block
    
}
.boton-enlace:hover, .boton-enlace:active {
background: var(--color_titulos);
color: var(--color_resaltado);
}
