@page {
    size: A4;
    margin: 2cm;
}

body {
    margin: 2cm;
    filter: grayscale(100%);
}

body, p, h1, h2, h3, h4 {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 15pt !important;
}

a {
    text-decoration: underline !important;
    color: black !important;  
}

a:after {
    content: " (" attr(href) ") ";
    font-size: 15pt;
    color: gray;
}

img {
    width: 100%;
}

img.important {
    display: block !important;
}

nav, .nav, header, footer, .sidebar, .advertisement, .dynamic-content {
    display: none !important;
}

form, input, button, select, textarea, aside, iframe{
    display: none !important;
}

body:after {
    content: "© Derechos reservados. Solo para uso impreso. 2024 - Gonzalo Ramos Sánchez y Lorena Pina Pellín para la asignatura Usabilidad y Accesibilidad del grado en Ingeniería Biomédica.";
    display: block;
    margin-top: 2cm;
    font-size: 15pt;
    text-align: justify;
}

article, img, section {
    break-inside: avoid;
    page-break-before: auto;
    page-break-after: auto;
}

table {
    break-inside: avoid !important;
    page-break-after: auto;
    font-size: 15px;
}

p {
    orphans: 3;
    widows: 3;
    text-align: justify;
}

table, tr, td, th {
    border: 3px solid black !important;
}

object, embed, script {
    display: none !important;
}

@media print {
    .no-imprimir {
        display: none !important;
    }
}


