body { 
    margin: 2cm;
    filter: grayscale(100%);
}

body, p, h1, h2, h3, h4 {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 15pt !important;
}

a {
    text-decoration: underline !important;
    color: black !important;  
}

a:after {
    content: " (" attr(href) ") ";
    font-size: 15pt;
    color: gray;
}

img {
    width: 100%;
}

img.important {
    display: block !important;
}

nav, .nav, header, footer, .sidebar, .advertisement, .dynamic-content {
    display: none !important;
}

form, input, button, select, textarea, aside {
    display: none !important;
}


body:after {
    content: "© Derechos reservados. Solo para uso impreso.";
    display: block;
    margin-top: 2cm;
    font-size: 15pt;
    text-align: center;
}

@page {
    size: A4;
}

article, table, img {
    break-inside: avoid;
}

p {
    orphans: 3;
    widows: 3;
    text-align: justify;
}

table, tr, td, th {
    border: 2px solid black;
}

object, embed, script {
    display: none !important;                 
}


