/* Estilos para las tablas */
table {
    width: 100%;
    table-layout: auto; /* El ancho de las columnas se ajusta automáticamente al contenido */
    border-collapse: collapse; /* Combina los bordes adyacentes de las celdas en un único borde */
    background-color: #DAADD7;
    margin: 2em 0;
    font-family: "Times New Roman", Tahoma, Arial, Verdana, Helvetica;
}

/* Estilos para las celdas */
th, td {
    padding: 20px;
    border: 2px solid white; /* Bordes para las celdas */
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.25em;
}

/* Estilo específico para los encabezados */
th {
    background-color: #41799E; /* Fondo diferente para los encabezados */
    color: white; /* Texto blanco para mayor contraste */
}

/* Estilo para la etiqueta <caption> */
caption {
    font-variant: small-caps;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

/* Estilo para alternar colores en las filas del cuerpo de la tabla */
tbody tr:nth-child(even) {
    background-color: #E0E3EE; /* Color gris claro para filas pares */
}
