/* Definición de variables */
:root{
    --color_fondo: #F0F1FF;
    --color_titulos: #3E7396;
    --color_titulos_2: #244059;
    --color_resaltado: #daadd7;
    --color_fondo_2: #f4f2ff;
}
/* Estilos para las tablas */
table {
    width: 100%;
    table-layout: auto; /* El ancho de las columnas se ajusta automáticamente al contenido */
    border-collapse: collapse; /* Combina los bordes adyacentes de las celdas en un único borde */
    background-color: var(--color_resaltado);
    margin: 2em 0;
    font-family: "Times New Roman", Tahoma, Arial, Verdana, Helvetica;
}

/* Estilos para las celdas */
th, td {
    padding: 20px;
    border: 2px solid white; /* Bordes para las celdas */
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.25em;
}

/* Estilo específico para los encabezados */
th {
    background-color: var(--color_titulos); /* Fondo diferente para los encabezados */
    color: white; /* Texto blanco para mayor contraste */
}

/* Estilo para la etiqueta <caption> */
caption {
    font-variant: small-caps;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

/* Estilo para alternar colores en las filas del cuerpo de la tabla */
tbody tr:nth-child(even) {
    background-color: var(--color_fondo); /* Color gris claro para filas pares */
}
